body{
    padding-top: 70px;
}

account-grid-directive .media-object {
    max-width: 59px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.4);
    margin: 7px;
}

user-table-directive td[colspan]{
    text-align: center;
    font-size: 20px;
}