<form class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-sm-4" for="bookmark.title">Title:</label>
        <div class="col-sm-8">
            <input type="text" id="bookmark.title" class="form-control " ng-model="bookmark.title">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-4" for="bookmark.url">Url:</label>
        <div class="col-sm-8">
            <input type="text" id="bookmark.url" class="form-control" ng-model="bookmark.url">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-4" for="bookmark.tags">Tags: (separated by commas)</label>
        <div class="col-sm-8">
            <input type="text" id="bookmark.tags" class="form-control col-sm-8" ng-model="bookmark.tags">
        </div>
    </div>
    <div class="pull-right">
        <button class="btn btn-default" ng-click="search()">Search</button>
        <button class="btn btn-success" ng-click="save()">Save</button>
        <button class="btn btn-danger" ng-click="clear()">Clear</button>
    </div>
</form>

