<div class="row">
    <div class="col-sm-12">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Position</th>
                        <th>City</th>
                    </tr>
                    
                </thead>
                <tbody>
                    <tr ng-repeat="record in accounts" ng-show="accounts.length">
                        <td>{{$index}}</td>
                        <td>{{record.name}}</td>
                        <td>{{record.position}}</td>
                        <td>{{record.city}}</td>
                    </tr>    
                    <tr ng-show="!accounts.length">
                        <td colspan="4">There are no records</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>