<form class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-sm-4" for="account.name">Name:</label>
        <div class="col-sm-8">
            <input type="text" id="account.name" class="form-control" ng-model="account.name">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-4" for="account.position">Position:</label>
        <div class="col-sm-8">
            <select ng-model="account.position" id="account.position" class="form-control">
                <option value="ADMIN">Admin</option>
                <option value="DIRECTOR">Director</option>
                <option value="MANAGER">Manager</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-4" for="account.city">City:</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="account.city"  ng-model="account.city">
        </div>
    </div>
    <div class="pull-right">
        <button class="btn btn-success" ng-click="addNewAccount()">Add</button>
    </div>
</form>