<md-card>
    <bookmarking-form 
        savefn="bookamrkingCtr.savefn"
        bookmark="bookamrkingCtr.selectedBookmark"></bookmarking-form>
    <bookmarking-table 
        bookmarks="bookamrkingCtr.bookmarks" 
        selected-bookmarks="bookamrkingCtr.selectedBookmarks"
        selected-bookmark="bookamrkingCtr.selectedBookmark" 
        getdatafn="bookamrkingCtr.getdatafn" 
        query="bookamrkingCtr.query" 
        inprogress="bookamrkingCtr.inprogress"
        on-select="bookamrkingCtr.onSelect">
    </bookmarking-table>
</md-card >